*.egg-info
dist/
build/
_build/
__pycache__/
*.pyc
.tox/
*~
.cache
.coverage
.eggs
.python-version
.pytest_cache/
.vscode/
.autoenv*
.idea
venv

# Dev Logs
dev/logs/
dev/connections.yaml
dev/dags/

# OSX
.DS_Store

.pypirc

# virtualenv
.venv*
venv*
ENV/

# Sphinx documentation
docs/_build/
docs/rtd-deprecation/_build/
docs/_doctrees/
docs/_inventory_cache/
docs/*/_api/

# test reports
test-report/
.coverage
coverage.xml

# Mypy Cache
.mypy_cache
