---
ci:
  skip: [markdown-link-check]
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
      - id: python-check-mock-methods
      - id: python-check-blanket-type-ignore

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.6
    hooks:
      - id: markdown-link-check
        args: ["--config=mlc-config.json"]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.7'
    hooks:
      - id: ruff
        args: ["--config", "./pyproject.toml"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        args: ["--write-changes", "--ignore-words-list", "asend, connexion"]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c yamllint-config.yml --strict
        types: [yaml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: Run pydocstyle
        exclude: |
          ^tests/.*\.py$|
          ^scripts/.*\.py$|
          ^dev|
          .*example_dags/.*|
        additional_dependencies: ['toml']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        # Excluding Example DAGs temporarily until they can be fixed
        exclude: ^tests/.*\.py$|.*example_dags/.*
        args: ["-c", "./pyproject.toml"]
        additional_dependencies: [".[toml]"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
        args: ["-ignore", "shellcheck"]

  - repo: local
    hooks:
      - id: sync-all-extras-setup.cfg
        name: Sync "all" extra in setup.cfg
        language: python
        files: ^setup.cfg$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py
      - id: sync-version-setup.cfg-docs-conf
        name: Sync "version" of the package in setup.cfg and docs/conf.py
        language: python
        files: ^setup.cfg$|^docs/conf.py$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_sync_version_docs.py
      - id: sync-version-desc-setup.cfg-package
        name: Sync "version" & "description" of the package in setup.cfg and astronomer/providers/package.py
        language: python
        files: ^setup.cfg$|^astronomer/providers/package.py$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_sync_version_desc_package.py
      - id: changelog-update
        name: Verify changelog is updated when releasing a new version
        language: python
        files: ^setup.cfg$|^CHANGELOG.rst$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_changelog_upto_date.py
        additional_dependencies:
          - packaging
      - id: list-extras-readme
        name: List all the extras in README.rst
        language: python
        files: ^setup.cfg$|^README.rst$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_readme_extra.py
      - id: check-context-typing-compat
        name: Ensure modules use local typing compat for airflow.utils.context.Context
        entry: .circleci/scripts/pre_commit_context_typing_compat.py
        language: python
        pass_filenames: false
