---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: python-no-log-warn
      - id: python-check-mock-methods
      - id: python-check-blanket-type-ignore

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-builtins
          - flake8-comprehensions
          - flake8-colors
          - flake8-rst-docstrings
          - flake8-assertive
          - flake8-typing-imports
          - flake8-logging-format
          - flake8-bugbear

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c yamllint-config.yml --strict
        types: [yaml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        name: Run pydocstyle
        exclude: |
          ^tests/.*\.py$|
          ^scripts/.*\.py$|
          ^dev|
          .*example_dags/.*|
        additional_dependencies: ['toml']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        # Excluding Example DAGs temporarily until they can be fixed
        exclude: ^tests/.*\.py$|.*example_dags/.*

  - repo: local
    hooks:
      - id: sync-all-extras-setup.cfg
        name: Sync "all" extra in setup.cfg
        language: python
        files: ^setup.cfg$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_setup_cfg_all_extra.py
      - id: sync-version-setup.cfg-docs-conf
        name: Sync "version" of the package in setup.cfg and docs/conf.py
        language: python
        files: ^setup.cfg$|^docs/conf.py$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_sync_version_docs.py
      - id: changelog-update
        name: Verify changelog is updated when releasing a new version
        language: python
        files: ^setup.cfg$|^CHANGELOG.rst$
        pass_filenames: false
        entry: .circleci/scripts/pre_commit_changelog_upto_date.py
        additional_dependencies:
          - packaging
