---
regions:
  - us-east-2
  - us-east-1
  - us-west-1
  - us-west-2
  - ap-south-1
  - ap-northeast-2
  - ap-northeast-3
  - ap-southeast-1
  - ap-southeast-2
  - ap-northeast-1
  - ca-central-1
  - eu-central-1
  - eu-west-1
  - eu-west-2
  - eu-west-3
  - eu-north-1
  - sa-east-1
account-blocklist:
  - '999999999999'
resource-types:
  targets:
    - EMRCluster
    - EC2Instance
    - EKSCluster
    - S3MultipartUpload
    - RedshiftCluster
accounts:
  '396807896376':  # aws-airflow-providers-main
