---
version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2

# Run jobs only for version-number tagged builds & All Branches
all_branches_and_version_tag: &all_branches_and_version_tag
  filters:
    tags:
      only: /^\d+[.\d]+.*/

# Run jobs only for version-number tagged builds
version_tag_only: &version_tag_only
  filters:
    tags:
      only: /^\d+[.\d]+.*/
    branches:
      ignore: /.*/

# Run jobs only for main branch and release branches
main_and_release_branches: &main_and_release_branches
  filters:
    branches:
      only:
        - main
        - /^release\b.*$/

workflows:
  test:
    jobs:
      - markdown-link-check:
          <<: *all_branches_and_version_tag
      - mypy:
          <<: *all_branches_and_version_tag
      - generate-constraints:
          name: constraints-<< matrix.python_version >>-<< matrix.airflow_version >>
          matrix:
            parameters:
              python_version: ["3.8", "3.9", "3.10", "3.11"]
              airflow_version: ["2.4.3", "2.5.3", "2.6.3"]
          <<: *main_and_release_branches
      - build-docs:
          <<: *all_branches_and_version_tag
      - test-python3-11:
          <<: *all_branches_and_version_tag
          requires:
            - markdown-link-check
      - test:
          name: test-python<< matrix.python_version >>
          matrix:
            parameters:
              python_version: ["3.8", "3.9", "3.10"]
          <<: *all_branches_and_version_tag
          requires:
            - markdown-link-check
      - build-and-verify:
          <<: *all_branches_and_version_tag
          requires:
            - test
            - build-docs
            - mypy
      - hold:
          name: Needs-Approval
          type: approval
          <<: *version_tag_only
          requires:
            - build-and-verify
      - publish:
          requires:
            - Needs-Approval
          <<: *version_tag_only

executors:
  docker-executor:
    parameters:
      python_version:
        type: string
        default: "3.10"
    docker:
      - image: cimg/python:<<parameters.python_version>>

jobs:
  markdown-link-check:
    description: "Static checks (Markdown-link-check only)"
    executor: docker-executor
    steps:
      - checkout
      - run:
          command: |
            cp .pre-commit-config.yaml pre-commit-cache-key.txt
            python --version --version >> pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - v1-pc-cache-{{ checksum "pre-commit-cache-key.txt" }}-
      - run:
          name: Run pre-commit
          command: |
            pip install "pre-commit>=3.0.0"
            pre-commit run markdown-link-check --all-files || { git --no-pager diff && false ; }
      - save_cache:
          key: v1-pc-cache-{{ checksum "pre-commit-cache-key.txt" }}-
          paths:
            - ~/.cache/pre-commit
            - ~/.pyenv/versions/

  mypy:
    description: "Mypy"
    executor:
      name: docker-executor
      python_version: "3.10"
    steps:
      - checkout
      - restore_cache:
          keys:
            - mypy-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
            - mypy-main-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
      - run:
          name: Install Dependencies for sasl
          command: |
            sudo apt-get install -y --no-install-recommends build-essential
            sudo apt-get update
            sudo apt-get upgrade
            sudo apt-get install libsasl2-dev
      - run:
          name: Install Dependencies
          command: pip install -U -e .[all,mypy]
      - run:
          name: Run Mypy
          command: |
            mypy --version
            mypy astronomer/
      - save_cache:
          paths:
            - ~/.cache/pip
            - ~/.pyenv/versions/
          key: mypy-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}

  build-docs:
    description: "Build docs"
    executor:
      name: docker-executor
      python_version: "3.10"
    steps:
      - checkout
      - restore_cache:
          keys:
            - docs-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum ".readthedocs.yaml" }}
            - docs-main-{{ checksum "setup.cfg" }}-{ checksum ".readthedocs.yaml" }}
      - run:
          name: Install Dependencies for sasl
          command: |
            sudo apt-get install -y --no-install-recommends build-essential
            sudo apt-get update
            sudo apt-get upgrade
            sudo apt-get install libsasl2-dev
      - run:
          name: Install Dependencies
          command: pip install -U -e .[all,docs,mypy]
      - run:
          name: Run Sphinx
          command: |
            cd docs
            make clean html
      - save_cache:
          paths:
            - ~/.cache/pip
            - ~/.pyenv/versions/
          key: docs-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum ".readthedocs.yaml" }}

  # This runs unit tests for Python3.11 only and excludes the Apache Hive test since
  # Currently, the Airflow Hive provider is excluded from Python3.11 in Airflow
  # Check the issue https://github.com/cloudera/python-sasl/issues/30 for detail
  # PR to bring back Airflow Apache Hive provider https://github.com/apache/airflow/pull/32607
  test-python3-11:
    description: "Test Python-3.11"
    executor:
      name: docker-executor
      python_version: "3.11"
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
            - deps-main-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
      - run:
          name: Install Dependencies
          command: pip install -U -e .[test_python_3_11,tests]
      - run:
          name: Run tests
          command: |
            set -e
            TEST_FILES=$(circleci tests \
                glob "tests/**/test_*.py" | \
                sed '/tests\/apache\/hive/d' | \
                circleci tests split --split-by=timings \
            )
            pytest --junit-xml=test-report/report.xml $TEST_FILES
      - store_test_results:
          path: test-report
      - save_cache:
          paths:
            - ~/.cache/pip
            - ~/.pyenv/versions/
          key: deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}

  test:
    parameters:
      python_version:
        description: "Python Version"
        type: string
    description: Test Python-<<parameters.python_version>>
    executor:
      name: docker-executor
      python_version: "<<parameters.python_version>>"
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
            - deps-main-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
      - run:
          name: Install Dependencies for sasl
          command: |
            sudo apt-get install -y --no-install-recommends build-essential
            sudo apt-get update
            sudo apt-get upgrade
            sudo apt-get install libsasl2-dev
      - run:
          name: Install Dependencies
          command: pip install -U -e .[all,tests]
      - run: pip freeze
      - run:
          name: Run tests
          command: |
            set -e
            TEST_FILES=$(circleci tests glob "tests/**/test_*.py" | circleci tests split --split-by=timings)
            pytest --junit-xml=test-report/report.xml  $TEST_FILES
      - codecov/upload:
          file: coverage.xml
      - store_test_results:
          path: test-report
      - save_cache:
          paths:
            - ~/.cache/pip
            - ~/.pyenv/versions/
          key: deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
  generate-constraints:
    parameters:
      python_version:
        description: "Python Version"
        type: string
      airflow_version:
        description: "Airflow Version"
        type: string
    description: Test Python-<<parameters.python_version>>
    executor:
      name: docker-executor
      python_version: "<<parameters.python_version>>"
    steps:
      - checkout
      - run:
          name: Install Dependencies for sasl
          command: |
            sudo apt-get install -y --no-install-recommends build-essential
            sudo apt-get update
            sudo apt-get install libsasl2-dev
      - run:
          name: Install Dependencies
          command: pip install -U -e .[all,tests] apache-airflow==<<parameters.airflow_version>>
      - run:
          name: Generate Constraints
          command: pip freeze
             | sort
             | grep -v "@"
             > constraints-<<parameters.python_version>>-<<parameters.airflow_version>>.txt
      - store_artifacts:
          path: constraints-<<parameters.python_version>>-<<parameters.airflow_version>>.txt

  build-and-verify:
    executor:
      name: docker-executor
      python_version: "3.10"
    steps:
      - checkout
      - run:
          name: verify tag
          command: |-
            python3 .circleci/scripts/verify_tag_and_version.py
      - run:
          name: build artifacts
          command: |
            pip install -U build
            git clean -fxd
            python -m build

      - persist_to_workspace:
          root: .
          paths:
            - dist/*

  publish:
    executor:
      name: docker-executor
      python_version: "3.10"
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Deploy to PyPI
          command: |-
            pip install -U twine
            twine check /tmp/workspace/dist/*
            twine upload /tmp/workspace/dist/*
      - store_artifacts:
          path: /tmp/workspace/dist/
          destination: dist
