version: 2.1

workflows:
  test:
    jobs:
      - test

jobs:
  test:
    description: Test & Lint
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
            - deps-main-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
      - run:
          name: Install Dependencies
          command: pip install -U -e .[tests]
      - run:
          name: Static checks
          command: pre-commit run --all-files || { git --no-pager diff && false ; }
      - run:
          name: Run tests
          command: |
            coverage run -m pytest --junit-xml=test-report/report.xml
            coverage report
            coverage html
      - store_artifacts:
          path: htmlcov
      - run:
          name: Generate Constraints
          command: pip freeze > constraints.txt
      - store_artifacts:
          path: constraints.txt
      - store_test_results:
          path: test-report
      - save_cache:
          paths:
            - /home/circleci/.cache/pip
            - /home/circleci/.pyenv/versions/
            - /home/circleci/.local/lib/
          key: deps-{{ .Branch }}-{{ checksum "setup.cfg" }}-{{ checksum "/home/circleci/.pyenv/version" }}
