---
name: deploy-integration-tests-to-astro-cloud

on:  # yamllint disable-line rule:truthy
  schedule:
    - cron:  "0 19 * * *"
  workflow_dispatch:
    inputs:
      git_rev:
        description: 'The git revision to deploy'
        required: true
        default: ''
      environment_to_deploy:
        description: 'astro cloud deployment to deploy to'
        required: true
        type: choice
        options:
          - both
          - providers-integration-tests
          - providers-integration-tests-on-KE

jobs:
  deploy-to-providers-integration-tests:
    if: contains(fromJSON('["both", "providers-integration-tests"]'), inputs.environment_to_deploy) || github.event_name == 'schedule'
    runs-on: 'ubuntu-20.04'
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git_rev }}

      - name: deploy
        working-directory: .circleci/integration-tests
        run: |
          echo "deploying ${{ inputs.git_rev }} to ${{ inputs.environment_to_deploy }}"
          bash script.sh astro-cloud \
            ${{ secrets.DOCKER_REGISTRY }} \
            ${{ secrets.ORGANIZATION_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_DEPLOYMENT_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_SECRET }}

  deploy-to-providers-integration-tests-on-KE:
    if: contains(fromJSON('["both", "providers-integration-tests-on-KE"]'), inputs.environment_to_deploy) || github.event_name == 'schedule'
    runs-on: 'ubuntu-20.04'
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git_rev }}

      - name: deploy
        working-directory: .circleci/integration-tests
        run: |
          echo "deploying ${{ inputs.git_rev }} to ${{ inputs.environment_to_deploy }}"
          bash script.sh astro-cloud \
            ${{ secrets.DOCKER_REGISTRY }} \
            ${{ secrets.ORGANIZATION_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ON_KE_DEPLOYMENT_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ON_KE_ASTRONOMER_KEY_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ON_KE_ASTRONOMER_KEY_SECRET }}
