---
name: Trigger release and bump version

on:  # yamllint disable-line rule:truthy
  pull_request:
    types:
      - closed

jobs:
  trigger-release-process:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check head commit message
        run: |
          head_commit_message=`git log --format=%s -1`
          python ./.github/scripts/validate_release_commit.py $head_commit_message

      - name: Install commitizen
        run: |
          pip3 install commitizen

      - name: Setup Github Actions git user
        run: |
          git config --global user.email "airflow-oss-bot@astronomer.io"
          git config --global user.name "airflow-oss-bot"

      - name: Tag and push tag for triggering release
        run: |
          git tag `cz version -p`
          git push origin `cz version -p`

      - name: Bump version for new development
        run: |
          make ASTRO_PROVIDER_VERSION=dev bump-version
          git add .
          git push origin main
