---
# https://github.com/actions/stale
name: Close stale PRs & Issues
on:
  schedule:
    - cron: '0 0 * * *'
permissions:
  pull-requests: write
  issues: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-pr-message: >
            This pull request has been automatically marked as stale because it has not had
            recent activity. It will be closed in 15 days if no further activity occurs. Thank you
            for your contributions.
          days-before-pr-stale: 90
          days-before-pr-close: 15
          exempt-pr-labels: 'security'
          only-issue-labels: 'pending-response'
          remove-stale-when-updated: true
          days-before-issue-stale: 180
          days-before-issue-close: 15
          stale-issue-message: >
            This issue has been automatically marked as stale because it has been open for 30 days
            with no response from the author. It will be closed in next 15 days if no further
            activity occurs from the issue author.
          close-issue-message: >
            This issue has been closed because it has not received response from the issue author.
