---
name: test-rc-release

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      rc_testing_branch:
        # If a branch is given, the workflow will use it for deployment and testing.
        # If no branch is provided, the workflow will create a new rc testing branch
        # for deployment and testing.
        description: |
          rc_testing_branch: existing testing branch
          (Either rc_testing_branch or issue_url is required, and you cannot give both.)
        required: false
        default: ''
      issue_url:
        description: |
          issue_url: the GitHub issue URL that tracks the status of Providers release
          (Either rc_testing_branch or issue_url is required, and you cannot give both.)
        required: false
      base_git_rev:
        description: 'The base git revision to test Providers RCs'
        required: false
        type: string
        default: 'main'

jobs:
  validate-manual-input:
    runs-on: 'ubuntu-20.04'
    steps:
      - name: Validate user input
        if: |
           (inputs.rc_testing_branch == '' && inputs.issue_url == '') ||
           (inputs.rc_testing_branch != '' && inputs.issue_url != '')
        run: |
          echo "Either rc_testing_branch or issue_url is required, and you cannot give both."
          exit 1

  create-branch-for-testing-rc-release:
    needs: validate-manual-input
    runs-on: 'ubuntu-20.04'
    if: ${{ inputs.issue_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.base_git_rev }}

      - name: Install dev dependency
        run: |
          python3 -m pip install -r dev/integration_test_scripts/requirements.txt

      - name: Create RC branch
        id: create_rc_branch
        run: |
          current_timestamp=`date +%Y-%m-%dT%H-%M-%S%Z`
          echo "Current timestamp is" $current_timestamp
          branch_name="rc-test-$current_timestamp"
          git checkout -b $branch_name
          echo "rc_testing_branch=$branch_name" >> $GITHUB_OUTPUT

      - name: Update project dependencies to use RC providers
        run: |
          echo "Updating setup.cfg with RC provider packages"
          python3 dev/integration_test_scripts/replace_dependencies.py --issue-url ${{ inputs.issue_url }}

      - name: Setup Github Actions git user
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Actions"

      - name: Commit changes and create a pull request
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git add setup.cfg
          git commit -m "Update setup.cfg to use RC provider packages"
          git push origin ${{ steps.create_rc_branch.outputs.rc_testing_branch }}
          gh pr create --base ${{ inputs.base_git_rev }} \
                       --title "[DO NOT MERGE] Test RC provider packages" \
                       --body "${{ inputs.issue_url }}" --fill
          echo "git_rev=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
    outputs:
      rc_testing_branch: ${{ steps.create_rc_branch.outputs.rc_testing_branch }}

  export-rc-testing-branch-name:
    needs: [validate-manual-input, create-branch-for-testing-rc-release]
    if: |
      always() &&
      needs.create-branch-for-testing-rc-release.result == 'success' ||
      (needs.validate-manual-input.result == 'success' && inputs.rc_testing_branch )
    runs-on: 'ubuntu-20.04'
    steps:
      - name: export rc_testing_branch
        id: export-rc-testing-branch-name-step
        run: |
          if [ "${{ inputs.rc_testing_branch }}" == "" ]; then
            rc_testing_branch=${{ needs.create-branch-for-testing-rc-release.outputs.rc_testing_branch }}
          else
            rc_testing_branch=${{ inputs.rc_testing_branch }}
          fi
          echo "rc_testing_branch=$rc_testing_branch" >> $GITHUB_OUTPUT
    outputs:
      rc_testing_branch: ${{ steps.export-rc-testing-branch-name-step.outputs.rc_testing_branch }}

  deploy-rc-testing-branch-to-astro-cloud:
    needs: export-rc-testing-branch-name
    if: |
      always() &&
      needs.export-rc-testing-branch-name.result == 'success'
    uses: ./.github/workflows/deploy-to-astro-cloud-reuse-wf.yaml
    with:
      git_rev: ${{ needs.export-rc-testing-branch-name.outputs.rc_testing_branch }}
      environment_to_deploy: 'providers-integration-tests'
    secrets:
      docker_registry: ${{ secrets.DOCKER_REGISTRY }}
      organization_id: ${{ secrets.ORGANIZATION_ID }}
      deployment_id: ${{ secrets.PROVIDER_INTEGRATION_TESTS_DEPLOYMENT_ID }}
      astronomer_key_id: ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_ID }}
      astronomer_key_secret: ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  wait-for-deployment-to-be-ready-and-trigger-master-dag:
    needs: deploy-rc-testing-branch-to-astro-cloud
    if: |
      always() &&
      needs.deploy-rc-testing-branch-to-astro-cloud.result == 'success'
    runs-on: 'ubuntu-20.04'
    steps:
      - name: Sleep for 30 minutes
        run: |
          echo "Current timestamp is" `date`
          echo "Sleeping for 1800 seconds (30 minutes)"
          echo "allowing the deployed image to be updated across all Airflow components.."
          sleep 1800

      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.export-rc-testing-branch-name.outputs.rc_testing_branch }}

      - name: Trigger master dag
        run: |
          python3 dev/integration_test_scripts/trigger_master_dag.py \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_DEPLOYMENT_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_ID }} \
            ${{ secrets.PROVIDER_INTEGRATION_TESTS_ASTRONOMER_KEY_SECRET }}
